.app_header {
  display: flex;
  justify-content: space-between;
}
.app_right_text {
  margin-top: 10px;
}
.app_header > h1 {
  text-transform: uppercase;
  color: #fc3c3c;
  font-size: 2rem;
}
body {
  background-color: #f5f6fa;
}
.app_drop_list {
  background-color: white;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app_left {
  flex: 0.9;
}
.app_infobox {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.app_right {
  display: flex;
  flex-direction: column;
}
.app_right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app_graph {
  color: green;
  flex-grow: 1;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
